@import "styles/_mixins.scss";

.admin-posts {
  height: 100%;

  &__inner {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    overflow: hidden;
    height: 100%;
  }

  &__top-bar {
    grid-row: 1/2;
    display: flex;
  }

  &__add-post {
    margin: 0.75rem 0 0.75rem auto;
    display: flex;
    align-items: center;
  }

  &__post-cards {
    grid-row: 2/3;
    position: relative;
    overflow: auto;
  }

  &__post-cards-inner {
    max-height: 100%;
    overflow: auto;
  }

  &__post-cards-grid {
    @include md-screen {
      display: grid;
      grid-template-columns: 49% 49%;
      column-gap: 2%;
    }
  }
}
