@import "styles/_mixins.scss";
$icon-size: 36px;

.practice-card {
  border: 1px solid $primary-border-clr;
  border-radius: 5px;
  background-color: $white;
  padding: 1rem;
  margin-bottom: 1rem;

  &__teaching-point,
  &__application {
    display: flex;
    margin-bottom: 1rem;

    img {
      height: $icon-size;
      flex-basis: $icon-size;
    }

    p {
      margin: 0;
      font-family: $poppins-medium;
      color: $primary-text-clr;
      padding-left: 1rem;
      font-size: 0.75rem;
    }
  }

  &__application {
    p {
      color: $gray-text-clr;
    }
  }

  &__subject-tags {
    padding-left: 3rem;

    .subject-tag {
      font-size: 0.75rem;
    }
  }
}
