@import "styles/_mixins.scss";
$icon-size: 36px;

.practice-card {
  border: 1px solid $primary-border-clr;
  border-radius: 5px;
  background-color: $white;
  padding: 1rem;
  margin-bottom: 1rem;

  &:hover {
    .practice-card__edit {
      visibility: visible;
      opacity: 1;
    }
  }

  &__teaching-point,
  &__application {
    display: flex;
    margin-bottom: 1rem;

    img {
      height: $icon-size;
      flex-basis: $icon-size;
    }

    p {
      margin: 0;
      font-family: $poppins-medium;
      color: $primary-text-clr;
      padding-left: 1rem;
      font-size: $small;
    }
  }

  &__application {
    p {
      color: $gray-text-clr;
    }
  }

  &__bottom-content {
    padding-left: 3rem;
  }

  &__subject-tags {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;

    .subject-tag {
      font-size: $small;
    }
  }

  &__post {
    display: block;
    font-size: $small;
    color: $gray-text-clr;
    margin-bottom: 1rem;
    text-decoration: underline;
  }

  &__created-date {
    font-size: $small;
    color: $gray-text-clr;
  }

  &__edit {
    visibility: hidden;
    font-size: $small;
    margin-left: auto;
    opacity: 0;
    transition: $fade;
  }

  &__footer {
    display: flex;
    align-items: center;
    padding-left: 3rem;
  }
}
