@import "styles/_mixins.scss";

.practice-explorer {
  @include md-screen {
    display: grid;
    grid-template-columns: 400px auto;
    height: 100%;
  }

  &__content {
    @include md-screen {
      grid-column: 2/3;
      max-height: 100%;
      overflow: hidden;
    }
  }

  &__side-bar {
    @include md-screen {
      grid-column: 1/2;
      max-height: 100%;
      overflow: hidden;
      padding: 0 2rem;
    }
  }

  &__filters {
    padding: 1rem;
    background: $white;
  }

  &__title {
    padding: 0.75rem 0;
  }
}
