.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;

  @include sm-screen {
    width: $sm-container;
    padding: 0;
  }

  @include md-screen {
    width: $md-container;
  }

  @include lg-screen {
    width: $lg-container;
  }

  @include xl-screen {
    width: $xl-container;
  }
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.border {
  border: 1px solid $primary-border-clr;
  border-radius: 5px;
}

.btn {
  border-radius: 5px;
  font-family: $poppins-medium;
  font-size: $medium;
  padding: 0.5rem 0.75rem;
  transition: background-color 0.125s ease-out;

  &:focus {
    outline: none;
  }
}

.btn-primary {
  border-radius: 5px;
  background-color: $primary-clr;
  color: $white;

  &:hover {
    background-color: $primary-clr-dark;
  }
}

.btn-secondary {
  background-color: $secondary-clr;
  color: $white;

  &:hover {
    background-color: $secondary-clr-dark;
  }
}

.btn-inverted-gray {
  border: 1px solid $primary-border-clr;
  color: $gray-text-clr;
}

.btn-danger {
  background-color: $error-red;
  color: $white;
}

.sub-heading {
  font-family: $poppins-bold;
  font-size: $medium;
}

.control-group {
  display: flex;
  flex-direction: column;
  position: relative;

  &.large {
    .control {
      font-size: $large;
      padding: 0.5rem 1rem;
      margin-bottom: 1.75rem;
    }

    .form-error {
      bottom: 3px;
      right: 0;
    }
  }

  label {
    margin-bottom: 0.5rem;
  }

  .control {
    resize: none;
    border: 1px solid $primary-border-clr;
    border-radius: 5px;
    font-family: $poppins-light;
    color: $primary-text-clr;
    font-size: $base;
    margin-bottom: 1.75rem;

    &::placeholder {
      color: $gray-text-clr;
    }
  }

  textarea,
  input {
    padding: 0.25rem 0.5rem;

    &:focus {
      outline: none;
    }
  }

  .form-error {
    font-size: $medium;
    color: $error-red;
    position: absolute;
    bottom: -10px;
    right: 0;
  }
}

.transition-border {
  height: 1px;
  background-color: $primary-text-clr;
  height: 1px;
  position: absolute;
  top: 0px;
  width: 100%;

  &-hider {
    height: 1px;
    background-color: $primary-bg-clr;
    height: 5px;
    position: relative;
    top: 0px;
    width: 100%;
    z-index: 1;
  }
}

.page-title {
  font-size: $x-large;
  font-family: $poppins-bold;
  padding: 0.75rem 0;
}
