//Fonts
$poppins-light: "Poppins Light";
$poppins-medium: "Poppins Medium";
$poppins-bold: "Poppins Bold";
$poppins-semi-bold: "Poppins Semi Bold";

//Primary and secondary colours
$primary-clr: #3f631a;
$secondary-clr: #9e7959;

//Complementary colours
$primary-bg-clr: #e6f2da;
$primary-text-clr: #273d0f;
$gray-text-clr: #999997;
$primary-border-clr: #c7c7c7;
$white: #ffffff;

$error-red: #8b0000;

//Breakpoints
$sm: 576px;
$sm-container: 540px;
$md: 768px;
$md-container: 720px;
$lg: 992px;
$lg-container: 960px;
$xl: 1200px;
$xl-container: 1140px;
