@import "styles/_mixins.scss";

.subject-node-checkbox {
  padding-left: 20px;

  &--depth-0 {
    padding: 1rem;

    & > label,
    & > input {
      display: none;
    }
  }

  &--depth-1 {
    padding-left: 0;
  }
}
