@import "styles/_mixins.scss";

.post-card {
  border: 1px solid $primary-border-clr;
  border-radius: 5px;
  padding: 1rem 2rem;
  background-color: $white;

  &__title {
    font-family: $poppins-semi-bold;
    font-size: 1.125rem;
    margin: 0;
    padding-bottom: 0.5rem;
  }

  &__body {
    display: grid;

    @include md-screen {
      grid-template-columns: auto 175px;
    }

    @include lg-screen {
      grid-template-columns: auto 250px;
    }
  }

  &__description {
    padding-bottom: 1rem;

    @include md-screen {
      grid-column: 1/2;
      padding-right: 2rem;
      padding-bottom: 0;
    }
  }

  &__image {
    img {
      width: 100%;
    }

    @include md-screen {
      grid-column: 2/3;
    }
  }

  &__image-inner {
    width: 100%;
    padding-bottom: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
