@import "styles/mixins.scss";
@import "styles/utils.scss";

@font-face {
  font-family: "Poppins Light";
  src: url("styles/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("styles/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins Semi Bold";
  src: url("styles/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("styles/fonts/Poppins-Bold.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: $poppins-light, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $base;
  background-color: $primary-bg-clr;
}

div {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

ul {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-border-clr;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

//React Modal overrides
.ReactModal {
  &__Overlay {
    &--after-open {
      z-index: $z-index1;
    }
  }

  &__Content {
    &--after-open {
      max-height: 70%;

      @include lg-screen {
        max-height: none;
      }
    }
  }
}

/* Customize the label (the checkbox) */
.checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  color: $primary-text-clr;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid $primary-border-clr;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: $primary-bg-clr;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid $bright-green;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
