@import "styles/mixins.scss";
@import "styles/utils.scss";

@font-face {
  font-family: "Poppins Light";
  src: url("styles/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("styles/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins Semi Bold";
  src: url("styles/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("styles/fonts/Poppins-Bold.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: $poppins-light, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  background-color: $primary-bg-clr;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}
