@import "styles/_mixins.scss";

.posts {
  display: flex;
  height: 100%;
  overflow: hidden;

  //Body
  &__body {
    flex-grow: 1;
    display: grid;
    grid-template-rows: 51px auto;
    height: 100%;
    overflow: hidden;
    padding: 0 2rem;
  }

  &__nav {
    grid-row: 1/2;
    display: flex;
    position: relative;

    ul {
      display: flex;
      width: 100%;
      cursor: pointer;
    }
  }

  &__nav-item {
    flex: 1;
    text-align: center;
  }

  &__content {
    grid-row: 2/3;
    position: relative;
    max-height: 100%;
    overflow: hidden;
  }

  &__content-inner {
    overflow: auto;
    height: 100%;
  }

  &__content-top-border {
    height: 1px;
    background-color: $primary-text-clr;
    height: 1px;
    position: absolute;
    top: 0px;
    width: 100%;

    &-hider {
      height: 1px;
      background-color: $primary-bg-clr;
      height: 5px;
      position: relative;
      top: 0px;
      width: 100%;
      z-index: 1;
    }
  }

  //Sidebar
  &__side-bar {
    display: none;

    @include md-screen {
      display: block;
      min-width: 200px;
      max-width: 200px;
    }

    @include lg-screen {
      min-width: 300px;
      max-width: 300px;
    }

    height: 100%;
    overflow: auto;
  }
}
