@import "styles/_mixins.scss";

.admin-post-form {
  &__description {
    height: 192px;
  }

  &__form {
    color: $primary-text-clr;
    background-color: $white;
    padding: 1rem;

    @include md-screen {
      display: grid;
      grid-template-columns: auto 350px;
    }
  }

  &__text-fields {
    @include md-screen {
      grid-column: 1/2;
    }
  }

  &__subjects {
    @include md-screen {
      grid-column: 2/3;
      padding-left: 1rem;
    }
  }

  &__footer {
    justify-self: end;
    grid-column: 1/3;
    margin-top: 0.5rem;

    .btn {
      margin-left: 0.5rem;
    }
  }
}
