@import "styles/_mixins.scss";

.post-card {
  padding: 1rem 1.5rem;
  background-color: $white;
  margin-bottom: 1rem;
  color: $primary-text-clr;

  &__link {
    color: $primary-text-clr;
  }

  &__title {
    font-family: $poppins-semi-bold;
    font-size: 1.125rem;
    margin: 0;
    padding-bottom: 0.5rem;
  }

  &__body {
    display: grid;
    padding-bottom: 1rem;

    @include md-screen {
      grid-template-columns: auto 175px;
    }

    @include lg-screen {
      grid-template-columns: auto 250px;
    }
  }

  &__create-date {
    color: $gray-text-clr;
    margin-bottom: 0.5rem;
  }

  &__description {
    padding-bottom: 1rem;

    @include md-screen {
      grid-column: 1/2;
      padding-right: 2rem;
      padding-bottom: 0;
    }
  }

  &__edit-post {
    margin-left: auto;
  }

  &__image {
    img {
      width: 100%;
    }

    @include md-screen {
      grid-column: 2/3;
    }
  }

  &__image-inner {
    width: 100%;
    padding-bottom: 66%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__source {
    display: block;
    max-width: 100%;
    color: $gray-text-clr;
  }

  &__subject-tags {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
  }

  &__footer {
    display: flex;
    align-items: center;
  }
}
