@import "styles/_mixins.scss";

.login-form {
  padding: 1rem;
  background-color: $white;
  width: 100%;

  @include sm-screen {
    width: 400px;
  }

  &__sign-up {
    font-size: $medium;

    a {
      color: $primary-text-clr;
      text-decoration: underline;
    }
  }

  &__title {
    font-family: $poppins-bold;
    font-size: $x-large;
    align-self: flex-start;
    margin-bottom: 1rem;
  }

  button {
    width: 100%;
  }

  .control {
    max-width: 100%;
  }
}
