@import "styles/_mixins.scss";

.auth {
  background-color: $white;
  height: 100vh;

  &__company-title {
    font-size: $x-large;
    font-family: $poppins-bold;
  }

  &__hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;

    p {
      margin: 0;
    }
  }

  &__form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;

    @include md-screen {
      height: 200px;
      width: 200px;
    }
  }

  &__welcome-msg {
    font-family: $poppins-medium;
  }
}
